body {
	font-family: 'Sarabun', sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}

#header {
	padding: 25px 15px;
	text-align: center;
	background: #eee;
	margin-bottom: 25px;
}

.company {
	text-align: center;
}

.company img{
	max-height: 80px;
	margin: 30px;
	margin-top: 10px;
}