body {
	font-family: 'Sarabun', sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}

#header {
	height: 70px;
	background: #eee;
	margin-bottom: 25px;
}

#header ul {
	list-style-type: none;
}

#header ul li {
	padding: 15px 19px;
	display: inline-block;
	margin: 0;
}

#header ul li:hover {
	background: #ccc;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float:left;
	text-align: center;
	width: 30%;
	padding: 10px 10px 10px 10px;
}

#boxes .box img{
	width: 90px;
}

	
	.nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
	}
	
	.nav {
		float: left;
	}
	
	.nav a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	.nav a:hover {
		background-color: #111;
	}

.company {
	text-align: center;
}

.company img{
	max-height: 80px;
	margin: 30px;
	margin-top: 10px;
}

.industry {
	display: inline-block;
	padding: 6px 15px;
	border: 1px solid #eee;
}
.company_each {
	display: inline-block;
	padding: 15px 25px;
	border: 1px solid #eee;
	margin-bottom: 10px;
	margin-right: 5px;
	min-width: 200px;
	text-align: center;
}
