body {
	font-family: 'Sarabun', sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}

.admin_navigator {
	padding-bottom: 7px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.container{
	width: 50%;
	margin: auto;
	overflow: hidden;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float:left;
	text-align: center;
	width: 30%;
	padding: 10px 10px 10px 10px;
}

#boxes .box img{
	width: 90px;
}